.header {
    background-color: maroon;
    background-size: cover;
    display: flex;
    height: 25%;
    

}

.header img {
    display: inline-block;
    height: 150%;
    background-size: cover;
    
}
.header h3 {
    text-align: center;
    color: white;
    padding-left: 200px;
    padding-top: 20px;
}
.header h5 {
    text-align: right;
    color: white;
    padding-left: 400px;
    padding-top: 20px;
}
.nav {
    padding-left: 400px;
    font-style: normal;
    font-weight: bold;
    background-color: gray;
    padding-top: 0;
    color: white;
}
.nav #menu {
    padding-left: 100px;
}
.nav #ctc {
    padding-left: 100px;
}
.nav #gall {
    padding-left: 100px;
}
.launch-order h3 {
    padding-left: 0
}
.launch-order {
    width: 100%;
}
.order-details {
    display: flex
   
}
.place-order {
    color: maroon;
    font-weight: bold;
    padding-top: 0;
    background-color: rgb(84, 163, 84);
    padding-left: 5px;
    font-size: small;
    font-style: normal;
    
}

.order-details{
    display: inline-flexbox;
    
}
.city {
    padding-left: 100px;
}
.contact {
    padding-left: 100px;
}
.location {
    padding-left: 70px;
}
.hse {
    padding-left: 50px;
}
.size {
   display: inline;
   
}



@media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
}